{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Street View split-map-panes</title>
    <script type="text/javascript" src={% static 'js/scripts.js' %}></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map,
      #pano {
        float: left;
        height: 100%;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <button type="button" onclick="add()">DOPISZ</button>
    <input type="text" id="name">test</input>
    <button type="button" onclick="send()">SEND</button>
    <div id="map"></div>
    <div id="pano"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDukeE2EPVb-eRGltH24IL8KUXm4ysuwe0&callback=initialize&libraries=&v=weekly"
      async
    ></script>
	<div id="coords"></div>
  </body>
</html>