{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script>
        function next() {
            window.location.replace("/maps");
        }
    </script>
    <style type="text/css">
      body {
        font-size: 8vh;
        height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      #next {
        font-size: 10vh;
        height: 30vh;
        width: 60vw;
      }

    </style>
  </head>
  <body>
    Final score: {{distance}} metres.
    <button id="next" type="button" onclick="next()">PLAY AGAIN</button>
  </body>
</html>
