{% load static %}
<!DOCTYPE html>
<html>
  <head></head>
  <body>
      <a href="{% url 'app:register' %}">Register</a><br>
      <h1>Log in</h1>
      <form action="{% url 'app:verify' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="name"> <br>
        <label>Password</label>
        <input type="password" name="password"> <br>
        <input type="submit" value="LOG IN"> <br>
      </form>
  </body>
</html>