{% load static %}
<!DOCTYPE html>
<html>
  <head></head>
  <body>
      <h1>Log in</h1>
      <form action="{% url 'app:verify_register' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="name"> <br>
        <label>Password</label>
        <input type="password" name="password"> <br>
        <label>Confirm password</label>
        <input type="password" name="rep"> <br>
        <input type="submit" value="REGISTER">
      </form>
  </body>
</html>